@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rubik;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    background-color: #3E8989;
}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #FFFFFF;
    padding-bottom: 5px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

.nav_link:hover {
    border-color: #FFFFFF;
}

.nav_form {
    display: flex;
    justify-content: center;
}

.nav_input {
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav_input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: #898989;
}

.nav_btn {
    padding: 8px 14px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    color: #FFFFFF;
    background: #295E5E;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.intro {
    background-image: url(../images/introBg.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_title {
    font-size: 80px;
    font-weight: 600;
    line-height: 94.8px;
    color: #FFFFFF;
}

.intro_text {
    font-size: 40px;
    font-weight: 500;
    line-height: 47.4px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 50px;
}

.intro_link {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #FFFFFF;
    background: #B4436C;
    font-family: inter;
    padding: 14px 78px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.intro_link:hover {
    background: #FFFFFF;
    color: #B4436C;
}
.main{
    margin-top: 80px;
    margin-bottom: 104px;
}
.about_title {
    margin-bottom: 50px;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    color: #3E8989;
}

.about_box {
    display: flex;
    gap: 20px;
}

.about_text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    color: #000000;
}

.catolog_title {
    margin-top: 97px;
    margin-bottom: 53px;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    color: #3E8989;
}

.catolog_box {
    display: flex;
    gap: 20px;
}

.card_text {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: #000000;
    transition: 0.3s;
}

.catalog_card:hover .card_text {
    color: #B4436C;
}
.contact_title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    color: #3E8989;
    text-align: start;
}
.contact_box {
    display: flex;
    justify-content: space-between;
}
.contact_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    color: #000000;
    max-width: 555px;
    width: 100%;
}
.contact_list {
    list-style: none;
}
.contact_link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    color: #000000;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E8989;
    padding-top: 40px;
    padding-bottom: 15px;
    gap: 60px;
}

.foot_list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.foot_link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #FFFFFF;
}

.foot_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    color: #FFFFFF;
}
